.profileCard{
    position: relative;
    min-height: 21vh;
    margin-bottom: 12px;
}

.menuCard{
    min-height: 6vh;
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

/* change size of profile pic for mobile */

.profilePic{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 12px;
    float: left;
}

.profileInfo{
    padding-top: 3%;
    /* padding-left: 27%; for mobile screen*/
}

.profileInfo h2{
    margin-bottom: 4px;
}

.followButton{
    width: 110px;
    height: 26px;
    border-radius: 20px;
    margin-top: 10px;
}

.followingButton{
    background-color: aqua;
    color: black;
}

.updateProfile{
    height: 26px;
    border-radius: 20px;
    margin-top: 10px;
}

.updateProfile i{
    margin-right: 4px;
}

.menuCard div{
    flex: 4;
    text-align: center;
    cursor: pointer;
    padding: 5px 0;
    /* line-height: 6vh; */
}

.menuCard p{
    margin: 0;
    font-weight: bold;
}

.menuCard div:hover{
    transform: scale(1.08);
    background-color: gainsboro;
    border-radius: 15px;
    box-shadow: 0 0px 0 grey;
}

.menuCard:hover > .posts{
    border-right: 0;
    border-left: 0;
}

.posts{
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.fadeIn{
    animation: fadein 0.5s linear forwards;
}

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: 0.5;}
    100% { opacity: 1; }
}
    
@keyframes fadein {
    0% { opacity: 0; }
    50% {opacity: 0.5;}
    100% { opacity: 1; }
}
