.container{
    position: relative;
}

.searchbar{
    width: 85%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 7%;
    outline: 1px solid gainsboro;
}

.searchbar:hover, .searchbar:focus-within{
    outline: 2px solid gainsboro; 
    box-shadow: 0 0 1px 1px white;
}

.searchIcon{
    font-size: 16px;
    margin: 0 9px;
    color: grey;
}

.searchInput{
    border: none;
    width: 70%;
}

.searchInput:focus{
    outline: none;
}

.userLoading{
    width: 28px;
    height: 28px;
    background: transparent;
    position: absolute;
    right: 1%;
}

.searchResult{
    width: 85%;
    margin-left: 7%;
    margin-top: 2%;
    position: absolute;
    max-height: 88vh;
    border-radius: 12px;
    overflow-y: auto;
    overflow-x: hidden;
}

.searchItem{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    cursor: pointer;
}

.noResults{
    padding: 1% 1% 2% 1%;
    background-color: gainsboro !important;
    cursor: default !important;
}

.searchItem:hover{
    background-color: gainsboro;
}

.searchItem div{
    width: 30px;
    height: 30px;
    margin: 10px 15px 8px 10px;
}

.searchItem div img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.searchItem h4{
    margin: 1px 0 0 5px;
}