.backdrop{
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.75);
    cursor: default;
}

.searchbar{
    width: 85%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.searchbar:hover, .searchbar:focus-within{
    outline: 3px solid aqua; 
    box-shadow: 0 0 1px 1px white;
}

.mobileSearchBar{
    width: 85%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    border: 1px solid grey;
}

.mobileSearchBar:hover, .mobileSearchBar:focus-within{
    outline: 2px solid grey; 
    box-shadow: 0 0 1px 1px white;
}

.searchIcon{
    font-size: 20px;
    margin: 0 10px;
}

.searchInput{
    border: none;
    width: 70%;
}

.searchInput:focus{
    outline: none;
}

.userLoading{
    width: 28px;
    height: 28px;
    background: transparent;
    position: absolute;
    right: 1%;
}

.searchResult{
    position: fixed;
    z-index: 2005;
    width: 35%;
    max-height: 88vh;
    top: 58px;
    border-radius: 12px;
    overflow-y: auto;
    overflow-x: hidden;
}

.mobileSearchResult{
    width: 85%;
    margin: 10px auto;
    top: 120px;
    border-radius: 12px;
    overflow-x: hidden;
}

.searchResult .searchItem{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    cursor: pointer;
}

.mobileSearchResult .searchItem{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: gainsboro;
    border-radius: 12px;
    cursor: pointer;
}

.noResults{
    padding: 1% 1% 2% 1%;
    background-color: gainsboro !important;
    cursor: default !important;
    z-index: 2005;
}

.searchItem:hover{
    background-color: gainsboro;
}

.searchItem div{
    width: 30px;
    height: 30px;
    margin: 10px 15px 8px 10px;
}

.searchItem div img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.searchItem h4{
    margin: 1px 0 0 5px;
}
