.layContent{
    position: absolute;
    top: 70px;
    right: 25vw;
    display: flex;
    width: calc(100% - 25vw);
}

.leftBar{
    flex: 25%;
    height: calc(100vh - 70px);
}

.leftBar h2{
    text-align: center;
    margin: 5px 8px 10px 0;
}

.rightBar{
    flex: 75%;
    height: calc(100vh - 70px);
    background-color: greenyellow;
}