.container{
    text-align: center;
    margin: auto;
    padding: 8px 10px 22px 10px;
}

.container div{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.container input, .container textarea{
    background: #eee;
    border: none;
    padding: 12px 15px 12px 28px;
    margin: 8px 0;
    width: 100%;
    border-radius: 12px;
}

.container button{
    border-radius: 20px;
    border: 1px solid #204BBA;
    background: #204BBA;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.container button:active{
    transform: scale(0.95);
}

.container button:hover{
    background-color: #1877F2;
}

.container button:focus{
    outline: none;
}

.usernameLoader{
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 0 2px;
}

.green{
    margin-left: 8px;
    position: absolute;
    color: #63C642;
}

.red{
    margin-left: 8px;
    position: absolute;
    color: red;
}

.item{
    position: absolute;
    padding-left: 8px;
    color: rgb(102, 99, 99);
    transform: scale(0.9);
    margin-bottom: 1px;
}

.eye{
    right: 15px;
    cursor: pointer;
}

.invalid{
    margin-bottom: 7px;
}

.invalid input{
    background-color: rgb(255, 237, 237);
    border: 1px solid red;
}

.invalid input:focus{
    outline: none;
    border: 2px solid red;
}

.bio .item{
    top: 29%;
}

.bio textarea{
    resize: none;
}

.errorMessage{
    color: red;
    margin: -10px 0 3px 5px;
    text-align: left;
}

.serverError{
    color: red;
}

.loading{
    width: 50px;
    height: 50px;
    background-color: transparent;
    bottom: 4%;
}