.user{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 6px;
}

.expand{
    margin-bottom: 20px;
    margin-left: 6px;
    margin-top: 5px;
    padding: 5px;
}

.expand .userPic, .expand p{
    transform: scale(1.4);
}

.expand p{
    margin-left: 22px;
}

.user:hover{
    border-radius: 12px;
    background-color: gainsboro;
}

.user:hover p{
    color: black;
}

.userPic{
    width: 24px;
    height: 24px;
    margin: 4px 8px 0 4px;
}

.userPic img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
}

.user p{
    color: rgb(68, 65, 65);
    font-size: 12.5px;
    margin-top: 2px;
}