.user{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 6px;
}

.user:hover{
    border-radius: 12px;
    background-color: gainsboro;
}

.user:hover p{
    color: black;
}

.userPic{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.userPic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.user p{
    color: rgb(68, 65, 65);
    font-size: 12.5px;
    margin-top: 2px;
}