.layContent{
    margin: 0 25px;
}

.profileUpdate{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transform: scale(1.1);
    margin: 20px 10px 0 10px;
    padding-bottom: 15px;
}

.profileUpdate div{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.profileUpdate h1{
    margin-bottom: 25px;
}

.profileUpdate div .item{
    position: absolute;
    padding-left: 8px;
    color: rgb(102, 99, 99);
}

.profileUpdate textarea{
    background: #eee;
    border: none;
    padding: 12px 15px 12px 28px;
    margin: 10px 0;
    width: 100%;
    border-radius: 12px;
}

.bio .item{
    top: 30%;
    left: 30px;
    transform: scale(2.24);
}

.bio textarea{
    margin: 10px 30px;
    resize: none;
}

.saveButton{
    border-radius: 12px;
    width: 60px;
    transform: scale(1.35);
    margin-top: 15px;
}

.saveButton:hover{
    transform: scale(1.3);
}