*{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --progressBar: #54d1db;
}

body {
  background: var(--bodyBg);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: gainsboro;
  border-radius: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 12px;
}

.spanLikesList:hover {
  text-decoration: underline;
  cursor: pointer;
}

.layContent{
  position: absolute;
  top: 82px;
  left: 26vw;
  right: 26vw;
}

.layContentForTablet{
  position: absolute;
  top: 82px;
  left: 10px;
  right: 26vw;
}

.layContentForMobile{
  position: absolute;
  top: 82px;
  left: 10px;
  right: 10px;
}