.menuCard{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.profileStats{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileStats h4{
    margin: 0 0 2px 0;
    font-weight: 500;
}

.profileStats span{
    font-size: 16;
}

.profileFollowers{
    margin-left: 8px;
}

@media (min-width: 1000px){
    .profilePosts{
        padding: 0 10%;
        border-right: 1px solid white;
        border-left: 1px solid white;
    }
}

.profileFollowing{
    margin-right: 8px;
}