.button {
    font: inherit;
    border: 1px solid #182130;
    background: #1F51BC;
    color: white;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    transform: scale(0.95);
  }
  
  .button:focus {
    outline: none;
  }