.settingsCard{
    padding: 15px;
}

.settingsCard h3{
    color: #1053ac;
    padding: 5px;
    border-radius: 12px;
}

.settingsCard h3:nth-child(1):hover{
    cursor: pointer;
    background-color: #ccc;
}

.settingsCard h3 i{
    color: #1E1E3F;
    margin-right: 6px;
}

.eye{
    right: 2%;
    cursor: pointer;
}

.invalid input{
    background-color: rgb(255, 237, 237);
    border: 1px solid red !important;
}

.invalid input:focus{
    outline: none;
    border: 2px solid red !important;
}

.settingsCard div{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.settingsCard section p{
    text-align: center;
}

.settingsCard label{
    font-weight: 500;
}

.settingsCard div i{
    position: absolute;
    padding-left: 8px;
    color: rgb(102, 99, 99);
}

.settingsCard input{
    background: #eee;
    border: none;
    padding: 12px 15px 12px 28px;
    margin: 8px 0;
    width: 100%;
    border-radius: 12px;
}

.submitButton{
    margin: 10px 0 15px 2px;
    border-radius: 12px;
}

.popUpNotification{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
    margin-top: 4px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    top: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }