.postModal{
    position: relative;
    padding: 15px;
}

.postCard{
    width: 100%;
    max-height: 62vh;
    /* padding: 10px; */
}

.closeButton{
    position: absolute;
    top: 0;
    right: 4px;
    color: white;
    cursor: pointer;
}

.post{
    border-radius: 12px;
    padding: 10px;
}

.postHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postInfo{
    display: flex;
}

.userPic{
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.userPic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.userInfo{
    margin-left: 10px;
}

.userInfo h3{
    margin: 0;
    cursor: pointer;
}

.userInfo h3:hover{
    color: #166FE5;
}

.postContent{
    margin: 9px 10px;
}

.postStats{
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.likes{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.likes .item{
    color: red;
    transform: scale(1.6);
    margin: 5px 11px 3px 7px;
    cursor: pointer;
}

.likes .item:hover{
    transform: scale(1.8);
}

.likesCount{
    margin-top: 3px;
    transform: scale(1.2);
    cursor: pointer;
}

.likesCount:hover{
    color: #166FE5;
}

.comments{
    margin-top: 4px;
    transform: scale(1.5);
    color: #1E1E3F;
    cursor: pointer;
}

.comments:hover{
    color: #12abe7;
    transform: scale(1.6);
}

.postComments, .postLikes{
    margin-top: 12px;
}

.allComments, .allLikes{
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.likesLoader{
    width: 28px;
    height: 28px;
    margin: 20px 50%;
}